/node_modules
/.fleet
/public/hot
/public/storage
/storage/*.key
storage/backup/*
/storage/app/search-index
/vendor
/shared/
/tmp/
.env
#_ide_helper.php
#_ide_helper_models.php
#.phpstorm.meta.php
/deploy.php
!.gitkeep
.idea/**
!.idea/icon.svg

/.vscode
/.fleet
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/.project
rr
.rr.yaml
indexing-api-*.json
supervisord.log
compose.yaml
.phpunit.cache/
/tests/temp
